htnl {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

htnl:after, htnl:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 960px;
  background-color: #eaeaea;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  background-color: #39383a;
  color: #ababab;
}

.profile__photo {
  height: 400px;
  background-image: url(../img/bg-photo.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.profile__info {
  padding: 50px 30px 70px 30px;
}

.profile__text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 50px;
}

.heading {
  margin: 0;
  padding-bottom: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.heading__light {
  color: #ffffff;
  border-bottom: 2px #5a5a5a dashed;
}

.heading__dark {
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgba(168, 168, 168, 0.44);
  margin-bottom: 37px;
}

.heading__skills {
  margin-bottom: 48px;
}

.contacts {
  margin-bottom: 70px;
}

.contacts__item {
  border-bottom: 2px #5a5a5a dashed;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contacts__title {
  color: #ffffff;
  margin-bottom: 13px;
  font-size: 16px;
}

.contacts__text {
  color: #ababab;
  text-decoration: none;
  padding-left: 30px;
  line-height: 21px;
}

address {
  font-style: normal;
}

.fa {
  margin-right: 10px;
}

.languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 40px;
}

.language {
  width: 90px;
  height: 90px;
  border: 6px solid #5c5c5c;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  margin-right: 30px;
}

.language:nth-child(3) {
  margin-bottom: 0;
}

.language__text {
  text-transform: uppercase;
  font-size: 11px;
}

.language__per {
  font-size: 15px;
  font-weight: 600;
}

.lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line {
  display: block;
  width: 90px;
  height: 2px;
  background-color: #5c5c5c;
  margin-top: 10px;
  margin-bottom: 10px;
}

.line:nth-child(2) {
  width: 100px;
  margin-left: 20px;
}

.resume {
  padding: 25px 30px;
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
  background-color: white;
}

.resume-wrap {
  border: 1px solid rgba(168, 168, 168, 0.44);
  padding: 36px 53px;
  max-height: 100%;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 38px;
}

.logo__lines-left > .logo__line:nth-child(2) {
  margin-right: 20px;
  width: 55px;
}

.logo__lines-right > .logo__line:nth-child(2) {
  margin-left: 20px;
  width: 55px;
}

.logo__img {
  width: 90px;
  height: 90px;
  border: 1px solid #39383a;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 17px;
  margin-right: 17px;
}

.logo__line {
  width: 43px;
  height: 2px;
  background-color: #39383a;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about {
  padding-bottom: 32px;
  text-align: center;
  border-bottom: 1px solid rgba(168, 168, 168, 0.44);
  margin-bottom: 40px;
}

.about__address {
  font-size: 13px;
  margin-bottom: 15px;
}

.about__contacts {
  font-size: 10px;
}

.about__contacts > a {
  text-decoration: none;
  color: #777777;
}

.name {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 11px;
  margin-bottom: 10px;
}

.position {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  color: #808080;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list__item {
  position: relative;
  padding-left: 40px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px dashed #ececec;
}

.list__item-none_border {
  border: none;
}

.list__item-none_padding {
  padding-bottom: 0;
  margin-bottom: 0;
}

.list__item-title {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.list__item-date {
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.list__item-text {
  font-size: 15px;
  line-height: 19px;
  color: #555;
}

.list__item-text--dark {
  color: #000;
}

.list__item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #000;
}

.list__item > ul > li {
  padding-top: 8px;
  font-size: 15px;
  line-height: 19px;
  color: #555;
}

.skills-list {
  list-style-type: none;
  padding-left: 0;
}

.skills-list__item {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.level {
  width: 70%;
  height: 8px;
  border: 1px solid #39383a;
  position: relative;
}

.level:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #898989;
}

.level-90:before {
  width: 90%;
  position: absolute;
}

.level-80:before {
  width: 80%;
  position: absolute;
}

.level-50:before {
  width: 50%;
  position: absolute;
}

.resume-certificates-view {
  position: relative;
  max-width: 400px;
  padding: 32px 26px 36px;
  background: url(../img/gilosh.png) 0 0 repeat;
  outline: 8px solid #eddbca;
  outline-offset: -16px;
  text-align: center;
}

.resume-certificates-view:before {
  content: " ";
  position: absolute;
  display: inline-block;
  width: 33px;
  height: 44px;
  background: url(../img/stamp.png) 0 no-repeat;
  bottom: -10px;
  left: 20px;
}

.resume-certificates-view__year-group-title {
  margin: 5px 0;
  font-size: 10px;
  color: #a19051;
}

.resume-certificates-view__year-group-title:before, .resume-certificates-view__year-group-title:after {
  content: " ";
  display: inline-block;
  width: 43px;
  margin: 0 4px;
  border-top: 1px solid #a19051;
  vertical-align: middle;
}

.resume-certificates-view__item {
  font-size: 12px;
  padding-top: 8px;
}

.resume-certificates-view__item > a {
  color: #000;
  text-decoration: none;
  border: 0;
  background: transparent;
  font-size: inherit;
  outline: none;
}

@media screen and (max-width: 2000px) {
  .container1 {
    -webkit-box-flex: 90%;
        -ms-flex: 90%;
            flex: 90%;
  }
  .tabs {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }
  .nav-items {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .language {
    margin-right: 20px;
  }
  .container1 {
    -webkit-box-flex: 90%;
        -ms-flex: 90%;
            flex: 90%;
  }
  .tabs {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }
  .nav-items {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
  }
}

@media screen and (max-width: 992px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .container .profile__photo {
    height: 700px;
  }
  .container .lines {
    display: none;
  }
  .container .languages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container1 {
    -webkit-box-flex: 90%;
        -ms-flex: 90%;
            flex: 90%;
  }
  .tabs {
    -webkit-box-flex: 40%;
        -ms-flex: 40%;
            flex: 40%;
  }
  .nav-items {
    -webkit-box-flex: 20%;
        -ms-flex: 20%;
            flex: 20%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .resume {
    padding: 10px;
  }
  .resume-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
  .list__item-title {
    font-size: 14px;
  }
  .list__item-date {
    font-size: 12px;
  }
  .list__item-text {
    font-size: 12px;
    line-height: 1.4;
  }
  .about__contacts-link {
    font-size: 13px;
  }
}

@media screen and (max-width: 567px) {
  .logo {
    display: none;
  }
  .language {
    margin-right: 20px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    min-width: 320px;
  }
  .name {
    letter-spacing: normal;
  }
  .level {
    width: 50%;
  }
}

.tab, .tab-title {
  display: inline-block;
}

.tab input[type="radio"] {
  display: none;
}

.tab-title {
  padding: 5px 10px;
  border: 0 solid #666;
  border-bottom: none;
}

.tab-content {
  position: absolute;
  border: 0 solid #666;
  padding: 10px;
  left: 0;
  width: calc(100% - 20px);
  display: none;
}

.tab :checked + .tab-title {
  position: relative;
  background: #CFC0C3;
  top: 1px;
  z-index: 1;
}

.tab :checked ~ .tab-content {
  display: block;
}

.nav-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 960px;
  margin: 20px auto;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: auto 1px;
}

.nav-item {
  margin-left: 3px;
  margin-right: 3px;
}

.nav-item__pic {
  border-radius: 5px;
  max-height: 30px;
  max-width: 30px;
}
/*# sourceMappingURL=style.css.map */